{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}My account{% endblock %}

{% block main %}
<div class="container-fluid pt-2">
    <div class="card border-primary m-auto mb-3"
    style="max-width: 40rem;">
    <div class="card-header text-center text-primary" style="display: inline-block;">My account</div>
    <div class="card-body">
        {% if user.avatar and not form.avatar.errors %}
        <img style="width: 5rem;" src="{{ user.avatar.url }}" alt="Avatar" class="avatar img-thumbnail float-left d-block">
        {% endif %}
        <form action="{% url 'users:my-account' %}" method="post" enctype="multipart/form-data" class="m-auto" novalidate>
            {% csrf_token %}
            {{form|crispy}}
            <div class="m-auto">

                <a href="{% url 'account_change_password' %}" class="btn btn-info ">CHANGE PASSWORD</a>
                <button class="btn btn-success ">UPDATE</button>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}