{% extends '_base.html' %}
{% block title %}About us{% endblock %}

{% block main %}
<div class="container pt-4 border-primary text-center" >
    <h1>About us</h1>
    <div class="card text-center m-auto pt-2 box-shadow rounded" 
        style="max-width: 50rem;">
        <div class="card-header text-info" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 1.5rem;">
            Final project Fullstack Web developer SDSU Global Campus
            Created by Jose A Rosas 2023
        </div>
        <div class="card-body">
            <div class="card-title text-muted">
                <h5> Anagram and Mathificent games, Django backend and Vue js frontend.
                </h5>
            </div>
            <div class="card-text p-2 m-2">
                I started developing software using Visual Studio for windows. I was never interested in web development
                until last year 2022 to be exact March, and that is when I started my journey as a Fullstack web developer. 
                I have developed a karaoke and a veterinarian software with visual basic and sql server.
                Check out my webpage <a href="https://www.alfcomputacion.com">www.alfcomputacion.com</a> it's a Wordpress page.
            </div>
            <div class="card-footer blockquote text-muted"
                style="font-size: small;">
                I have learnd a lot doing this course.
                I recomend this course to anyone that is eager to learn the art of coding.
                <p class="blockquote-footer">Jose A rosas</p>
            </div>
        </div>
     
    </div>
    
   
</div>
{% endblock %}