{% extends '_base.html' %}
{% load static %}
{% load common_tags %}
{% block title %}Home page{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top: 4rem;">
    <h1 class="text-center text-capitalize">Welcome to my page</h1>
    {% if request.user.is_authenticated %}
   
    <h5 class="pt-2">Logged in as {{ user }}</h5>
    {% else %}
    <h5>{{ user }}, please <a href="{% url 'account_login' %}">Log in</a> to play</h5>
    {% endif %}

    <div id="demo" class="carousel slide m-auto" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators primary">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
          
            {% random_review %}
          </div>
          <div class="carousel-item">
          
            {% random_review %}
          </div>
          <div class="carousel-item">
          
            {% random_review %}
          </div>
          <div class="carousel-item">
          
            {% random_review %}
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
{% endblock %}