.sm-form{
  
    height: 93vh; width: 100%; 
    background: rgb(193, 193, 193); 
    padding-top: 6rem;
}

.navbar{
    box-shadow: .1rem .1rem .2rem  black;
}

.avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    margin-right: 2rem;
}