<div class="card border-primary m-auto mb-3 text-center"
    style="max-width: 95%; height: 30rem;">
    <div class="card-header text-white" style="background-color: rgb(167, 223, 248); text-shadow: .03rem 0 .1rem black;">
     <h2>Review</h2>
    </div>
    <div class="card-body review-body">
        <h6 id="review-text" class="card-text text-white">{{ review.review }}</h6>
        <div class="card-footer review-footer text-white">
        <small class="muted">
          {{ review.created }}
          by {{review.user|title}}
        </small>
      </div>
    </div>
</div>