{% extends '_base.html' %}

{% load static %}
{% block title %}Users | admin{% endblock %}

{% block main %}
<div class="container m-auto pt-2  users-list"
    style="max-width: 40rem;">
<h1>Users, Edit Delete</h1>
<h6 class="text-muted">To feature a review just click reviews and edit review.</h6>
    <ul class="list-group list-group-flush scroll"
        style="height: 30rem;"> 
        {% for user in customuser_list %}
        <li class="list-group-item"> 
            {% if user.avatar %}
            <img src="{{user.avatar.url}}" alt="avatar" style="width: 3rem;height: 3rem; border-radius: 50%; float: left;">
            {% else %}
            <img src="{% static 'images/logo.png' %}" alt="logo" style="width: 3rem;height: 3rem; border-radius: 50%; float: left;">
            {% endif %}
            <span class="pl-4 text-info">
                <strong>{{user.username}}</strong> <br>
            </span>
            <span class="text-secondary pl-2">
                    <strong>{{ user.first_name }} {{ user.last_name }} </strong>
              </span>  
            
            <a href="{% url 'users:user-delete' user.pk %}">
                <i class="fa-sharp fa-solid fa-trash text-danger float-right mr-2" style="font-size: 2rem;"></i>
            </a>
            <a href="{% url 'users:user-update' user.pk %}">
                <i class="fas fa-edit float-right mr-2 " style="font-size: 2.3rem;"></i>
            </a>
            <a class="btn btn-primary float-right mr-2 " data-toggle="collapse" href="#example-{{user.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{user.num_reviews}} Reviews
            </a>
        </li>
         
            {% for review in user.reviews.all %}
           
                <div class="collapse border-primary rounded" id="example-{{user.id}}">
                    <div class="card card-body">
                        {{review.review}}
                        {% if review.featured %}
                        <a href="{% url 'reviews:review-update' review.id %}"><i class="fas fa-edit float-right mr-2 mt-1"></i>
                        </a>
                      <div class="text-info">
                          Featured
                    </div>  
                        
                        {% else %}
                        <a href="{% url 'reviews:review-update' review.id %}"><i class="fas fa-edit float-right mr-2 mt-1"></i>
                        </a>
                        <div class="text-secondary">
                          <strong>
                              Edit to feature review.
                          </strong> 
                        </div>
                        {% endif %}
                    </div>
                </div>
           
            {% endfor %}
            
            
        
        {% empty %}
        <li class="list-group-item">No data found.</li>
        {% endfor %}
        
    </ul>
    <span>Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}</span>
    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo; 1 . . .</a>
                </li>
                {% if page_obj.previous_page_number != 1 %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                            {{ page_obj.previous_page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page_obj.number }}
                </span>
            </li>
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">
                        . . .{{ page_obj.paginator.num_pages }} &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>    
{% endblock %}