{% extends '_base.html' %}

{% load static %}
{% block title %}Users | admin{% endblock %}

{% block main %}
{% if user.is_staff %}
<div class="container m-auto pt-1  users-list"
    style="max-width: 50rem;">
<div class="text-center">

    <h1>Users, Edit Delete</h1>
    <h6 class="text-muted">
        To feature a review just click reviews and edit review, or  
        <a href="{% url 'reviews:review-list' %}">
        <i class="fas fa-edit mr-2 mt-1">
            All Reviews
        </i>
    </a></h6>
   
</div>
    <ul class="list-group list-group-flush scroll"
        style="height: 30rem;"> 
        <input type="hidden" name="q" value="{{ request.GET.q }}">
        {% for user in customuser_list %}
        <li class="list-group-item"> 
            {% if user.avatar %}
            <img src="{{user.avatar.url}}" alt="avatar" style="width: 3rem;height: 3rem; border-radius: 50%; float: left;">
            {% else %}
            <img src="{% static 'images/logo.png' %}" alt="logo" style="width: 3rem;height: 3rem; border-radius: 50%; float: left;">
            {% endif %}
            <span class="pl-4 text-info">
               <a href="{% url 'users:user-update' user.pk %}">
                   <small><strong>{{user.username}}</strong></small> <br>
               </a> 
            </span>
            <span class="text-secondary pl-2">
                    <strong>{{ user.first_name }} {{ user.last_name }} </strong>
              </span>  
            
            <a href="{% url 'users:user-delete' user.pk %}">
                <i class="fa-sharp fa-solid fa-trash text-danger float-right mr-2" style="font-size: 2rem;"></i>
            </a>
            <a href="{% url 'users:user-update' user.pk %}">
                <i class="fas fa-edit float-right mr-2 " style="font-size: 2.3rem;"></i>
            </a>
            <a class="btn btn-primary float-right mr-2 " data-toggle="collapse" href="#example-{{user.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{user.num_reviews}} Reviews
            </a>
        </li>
         
            {% for review in user.reviews.all %}
           
                <div class="collapse border-primary rounded" id="example-{{user.id}}">
                    <div class="card card-body">
                        {{review.review}}
                        {% if review.featured %}
                        <a href="{% url 'reviews:review-update' review.id %}"><i class="fas fa-edit float-right mr-2 mt-1"></i>
                        </a>
                      <div class="text-info">
                          Featured
                    </div>  
                        
                        {% else %}
                        <a href="{% url 'reviews:review-update' review.id %}"><i class="fas fa-edit float-right mr-2 mt-1"></i>
                        </a>
                        <div class="text-secondary">
                          <strong>
                              Edit to feature review.
                          </strong> 
                        </div>
                        {% endif %}
                    </div>
                </div>
           
            {% endfor %}
            
            
        
        {% empty %}
        <li class="list-group-item">No data found.</li>
        {% endfor %}
        
    </ul>
   {% include 'common/pagination.html' %}
</div>  
{% else %} 
{% include '403.html' %}
{% endif %}
{% endblock %}